body{
  background: #25474e;
}

*{
  box-sizing: border-box;
  font-family: sans-serif;
}

.calcu{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 309px;
  height: 400px;
  border: 1px solid black;
  border-radius: 5px;
  background: #e7e7e7;
  box-shadow: 3px 8px 8px black;
}

.top{
  padding: 2px;
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  height: 100px;
}

#output{
  margin: 0 auto;
  height: 71px;
  width: 217px;
  text-align: right;
  line-height: 70px;
  font-size: 45px;
  overflow-x: auto;
  background: #fff;
  border: 2px solid black;
  border-radius: 3px;
  user-select: none;
}


.button-inputs{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  border: 2px solid transparent;
}

span{
  margin: 1px;
  text-align: center;
  font-size: 30px;
  line-height: 71px;
  width: 73px;
  height: 73px;
  border: 2px solid black;
  border-radius: 4px;
  color: white;
  user-select: none;
}

.button-inputs #space{
  width: 217px;
  height: 71px;
}

.num{
  background: #fff;
  color: #000;
}

.operator{
  background: #ed8f25;
}

#cancel{
  background: #d14242;
}

#period{
  background: #3fc65d;
}

span:hover{
  cursor: pointer;
  box-shadow: 1px 1px 3px #000;
}
